@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.work-font {
  font-family: 'Work Sans', sans-serif;
}

.playfair-font {
  font-family: 'Playfair Display', serif;
}

.active {
  border: 1px solid #23be0a;
  color: #23be0a;
  background-color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 14px 20px;
  border-radius: 8px;
}
